<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GeoZones Exploration</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/leaflet.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/leaflet-sidebar.css') }}" rel="stylesheet">

    <style type="text/css">
      html, body {
        height: 100%;
      }

      .map-container {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>

  <body>
    <section class="map-container"></section>
    <div id="sidebar">
      <h1 id="title"></h1>
      <form>
        <div class="form-group">
          <label for="idfield">ID</label>
          <input type="text" class="form-control" id="idfield" readonly>
        </div>
        <div class="form-group">
          <label for="namefield">Name</label>
          <input type="text" class="form-control" id="namefield" readonly>
        </div>
        <div class="form-group">
          <label for="levelfield">Level</label>
          <input type="text" class="form-control" id="levelfield" readonly>
        </div>
        <div class="form-group">
          <label for="codefield">Code</label>
          <input type="text" class="form-control" id="codefield" readonly>
        </div>
        <div class="form-group">
          <label for="parentsfield">Parents</label>
          <textarea class="form-control" id="parentsfield" readonly></textarea>
        </div>
        <div class="form-group">
          <label for="keyssfield">Known keys</label>
          <textarea class="form-control" id="keysfield" readonly></textarea>
        </div>
        <div class="form-group">
          <label for="populationfield">Population</label>
          <input type="text" class="form-control" id="populationfield" readonly>
        </div>
        <div class="form-group">
          <label for="areafield">Area (km2)</label>
          <input type="text" class="form-control" id="areafield" readonly>
        </div>
      </form>
    </div>
  </body>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet-sidebar.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/explore.js') }}"></script>
</html>
